
{% extends "base.html" %} {% block top %} {{ block.super}} {% endblock %} {%block content%}

    {% if course %}

    <div class="jumbotron">
        <h1 class="display-3">{{ course.name }}</h1>
        <p class="lead">{{ course.description }}</p>
        <p class="lead">{{ course.profesorEmail }}</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
        </p>
        <p>
            <a class="btn btn-lg btn-war" href="/home" role="button">Back</a>
        </p>
    </div>
    {% endif %}

    <div class="row marketing">
        <div class="col-lg-6" align="right">
            <h4>Price</h4>
            <p>{{ course.price }} €/h</p>

        </div>

        <div class="col-lg-6">
            <h4>Likes</h4>
            <p>{{ course.likes }}</p>
        </div>
    </div>

    {% endblock %} {% block bot %} {{ block.super }} {% endblock %}
